.chip{border-radius:20px; background:#FFA500; color:white; margin-left: 10px}
.helpElem{display:flex; justify-content: center; align-items: center}

.centerGrid{display: flex; justify-content: center;align-items: center}