.chip{border-radius:20px; background:#FFA500; color:white; margin-left: 10px}
.helpElem{display:flex; justify-content: center; align-items: center}

.centerGrid{display: flex; justify-content: center;align-items: center}
.card {
    /*width: 50px;*/
    padding: 20px 10px;
    border-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}